.product-details-container {
  display: flex;
  margin: 20px;
}

.product-image {
  width: 100%;
display: flex;

align-items: center;
justify-content: center;}

.product-image img {
width: 75%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 20px;
  margin-left: auto;
}

.product-info h2 {
  font-size: 1.5rem;
  color: #333;
}

.price {
  font-size: 1.5rem;
  color: #3498db; /* Price color */
}

.description,
.additional-detail {
  margin-top: 10px;
  color: #555; /* Text color */
}

.btn-links {
  margin:2rem 0;
  display: flex;
  font-size: .75rem;
}


.btn-links button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(240, 118, 19);
  color: #fff; /* Button text color */
}

.btn-links button a {
  text-decoration: none;
  color: #fff; /* Button text color */
}


@media (max-width: 768px) {
.product-details-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-info {
  margin: 2rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.product-image {
  width: 60%;
}
}