/* Add this to your CSS file or style component */
.product-details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border: none;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    height: 450px;
    width: 100%;
  }
  .details {
    color: #333;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

  }
  .details img {
    width: 65%;
  }
  .product-card-link {
    color: #333;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products-container {
    position: relative; /* Ensure the modal is positioned relative to this container */
  }
  
  