.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 8px;
    color: #333;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .user-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 2rem;
  }
  
  .user-info {
    flex: 1;
  }
  .user-details {
    background-color: #fff;
    padding: 1.5rem;
  }
  .user_details-icon {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .order-history {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 1.5rem;
  }
  
  .order-history ul {
    list-style-type: none;
    padding: 0;
  }

  
  .order-history li {
    margin-bottom: 10px;
  }
  .user-utilities {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
   
  }

  .logout svg {
    font-size: 2rem;
    margin-left: 1rem;
    color: #f58c13;
  }
  
  .del-user {
    font-size: 1.5rem;
    color: #ff0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout button:hover {
    background-color: #d32f2f;
  }
  

  @media screen and (max-width: 768px) {
    .user-profile{
      grid-template-columns: auto;
    }
  }